<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">



    <script src="https://kit.fontawesome.com/ff8b3ed9bd.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ?{% now 'U' %}"/>

</head>
<body>


    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                     <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Log in</a>
                            </div>
                            <div class="header__top__links">
                                <a href="#">Sign Up</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                   <h1> EShop </h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                                    <li><a href="{% url 'ecomapp:home' %}">Home</a>
                                    <li><a href="{% url 'ecomapp:about' %}">About</a></li>
                                    <li><a href="{% url 'ecomapp:contact' %}">Contact Us</a></li>
                                    <li><a href="{% url 'ecomapp:allproducts' %}">All Products</a></li>
<!--                                    <li><a href="{% url 'ecomapp:mycart' %}">View Cart</a></li>-->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{% static 'img/search.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/heart.png' %}"></a>
                        <a href="{% url 'ecomapp:mycart' %}"><img src="{% static 'img/Cart.png' %}" alt=""> <span>0</span></a>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    {% block content %} {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

 <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous">
  </script>

<script>
 $(document).ready(function () {
        var url = window.location;
        var element = $('div a').filter(function() {
            return this.href == url || url.href.indexOf(this.href) == 1;
        }).addClass('active').parent().parent().addClass('in').parent();
        if (element.is('a')) {
            element.addClass('active');

        }
    });

</script>
</body>
</html>